[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arete"]
	path = arete
	url = https://github.com/cran/arete
[submodule "gecko"]
	path = gecko
	url = https://github.com/vascobranco/gecko
[submodule "red"]
	path = red
	url = https://github.com/vascobranco/red
